.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 500px;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    background-color: #acd0f68a;
}

.form input, .form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: 700;
}

.FormBtn {
    font-size: 1.1rem;
    padding: 8px;
    margin: 0 auto;
    width: 200px;
    background-color: #172a3e;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 15px;
}
