.form-title{
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-primary);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-inline: auto;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 500px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.form input, textarea, select {
    padding: 8px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}

input[type="text"] {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;;
}

textarea {
    resize: vertical;
    min-height: 80px;
    font-size: 12px;
    font-weight: 500;;
    font-family: "Montserrat", sans-serif;
}

.form input:focus, textarea:focus, select:focus {
    background-color: #f4f1f1;
    border-color: var(--color-primary);
    outline: none;
}

.form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}

label {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.FormBtn {
    font-size: 1.1rem;
    padding: 8px;
    margin: 0 auto;
    width: 200px;
    background-color: var(--color-primary);
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 15px;
}

.FormBtn:hover {
    background-color:  #f4f1f1;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: var(--color-primary) 0px 0px 10px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
