.item {
    padding: 5px 15px;
    margin-block: 10px;
    border: 2px solid  var(--color-primary);
    border-radius: 8px;
    max-width: 600px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.priority {
    font-size: 18px;
    margin-left: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    cursor: pointer;
}   

