.box {
    padding: 5px 15px;
    margin-block: 10px;
    border: 2px solid #203680;
    border-radius: 8px;
    max-width: 600px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}